<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>

<!-- CONTENIDO PRINCIPAL -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Listado de Usuarios</h3>
	</div>
	<div class="box-body">

		<p-table #dtUsuarios [columns]="Cols" [value]="ListaUsuarios" [responsive]="true" [paginator]="true" [rows]="paginacionNum">
			<ng-template pTemplate="caption" class="left-text">

				<div style="text-align: left">
					<button class="btn btn-success btn-sm" (click)="nuevoUsuario()"><i class="fa fa-plus"></i> Agregar</button>&nbsp;
					<button class="btn btn-primary btn-sm" (click)="recargar()"><i class="fa fa-refresh"></i> Actualizar</button>&nbsp;
					<input pInputText type="text" size="50" placeholder="Búsqueda General" (input)="dtUsuarios.filterGlobal($event.target.value, 'contains')" style="width:auto;">&nbsp;
					<p-dropdown [options]="paginacionLista" [(ngModel)]="paginacionNum"></p-dropdown>
				</div>

				<div style="text-align: right">
				</div>
			</ng-template>

			<!-- HEADER COLUMNS SECTION -->
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of columns" [pSortableColumn]="col.field">
						{{col.header}}
						<p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
					</th>
					<th>Acciones</th>
				</tr>
			</ng-template>
			
			<!-- BODY PART -->
			<ng-template pTemplate="body" let-ListaUsuarios let-columns="columns">
				<tr>
					<td *ngFor="let col of columns" class="_td">
					{{ListaUsuarios[col.field]}}
					</td>
					<td class="_td" style="text-align: center;">
						<button class="btn btn-primary btn-xs" (click)="modificarUsuario(ListaUsuarios)" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></button> 
						<button class="btn btn-danger btn-xs" (click)="eliminar(ListaUsuarios)"><i class="fa fa-close" data-toggle="tooltip" title="Eliminar"></i></button>
					</td>
				</tr>
			</ng-template>
			
			<!-- COLUMNS TOTALS SECTION -->
			<!-- <ng-template pTemplate="footer" let-columns>
				<tr>
					<td *ngFor="let col of columns">
						{{col.header}}
					</td>
				</tr>
			</ng-template> -->

			<!-- SUMARY SECTION -->
			<!-- <ng-template pTemplate="summary">
				your summary template
			</ng-template> -->

		</p-table>
		
	</div>
	<!-- <div class="box-footer">
		The footer of the box
	</div> -->
</div>

<!-- FORMULARIO DE NUEVO USUARIO -->
<p-dialog header="{{DialogTitle}}" [contentStyle]="{padding: 20}" [(visible)]="MostrarForm" [style]="{'width': '45vw', 'max-width': '45vw'}" modal=true [baseZIndex]="1050">
	<form [formGroup]="fgUsuario">
		
		<input type="hidden" pInputText formControlName="id"/>
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-md-6 ui-fluid">
					<label>
						Codigo
						<small class="text-red">* <em *ngIf="(f['codigo'].errors?.required && f['codigo'].dirty) || (Vacio && f['codigo'].errors?.required)"> Requerido</em></small>
					</label>
					<input type="text" pInputText formControlName="codigo">
					<br><br>
					<label>
						Nombre
						<small class="text-red">* <em *ngIf="(f['nombre'].errors?.required && f['nombre'].dirty) || (Vacio && f['nombre'].errors?.required)"> Requerido</em></small>
					</label>
					<input type="text" pInputText formControlName="nombre">
					<br><br>
					<label>
						Apellido
						<small class="text-red">* <em *ngIf="(f['apellido'].errors?.required && f['apellido'].dirty) || (Vacio && f['apellido'].errors?.required)"> Requerido</em></small>
					</label>
					<input type="text" pInputText formControlName="apellido">
					<br><br>
					<label>
						Perfil
						<small class="text-red">* <em *ngIf="(f['idperfil'].errors?.required && f['idperfil'].dirty) || (Vacio && f['idperfil'].errors?.required)"> Requerido</em></small>
					</label>
					<p-dropdown [options]="ListaPerfilesCmb" formControlName="idperfil" [showClear]="true"></p-dropdown>
					<input type="hidden" formControlName="perfil">
					<br><br>
					<label>
						Usuario
						<small class="text-red">* <em *ngIf="(f['usuario'].errors?.required && f['usuario'].dirty) || (Vacio && f['usuario'].errors?.required)"> Requerido</em></small>
					</label>
					<input type="text" pInputText formControlName="usuario">
					<br><br>
					<label>
						Contraseña
						<small class="text-red">* <em *ngIf="(f['clave'].errors?.required && f['clave'].dirty) || (Vacio && f['clave'].errors?.required)"> Requerido</em></small>
						<small class="text-red"><em *ngIf="f['clave'].errors?.minlength && f['clave'].dirty"> Minimo 8 caracteres</em></small>
					</label>
					<input type="password" pPassword formControlName="clave">
					<br><br>
					<label>
						Repetir Contraseña
						<small class="text-red">* <em *ngIf="(f['claveConfirm'].errors?.required && f['claveConfirm'].dirty) || (Vacio && f['clave'].errors?.required)"> Requerida</em></small>
						<small class="text-red"><em *ngIf="(f['claveConfirm'].errors?.debecoincidir && f['claveConfirm'].dirty)  || (Vacio && f['clave'].errors?.debecoincidir)"> Claves no coinciden</em></small>
					</label>
					<input type="password" pPassword formControlName="claveConfirm">
				</div>

				<div class="col-12 col-md-6 ui-fluid">
					<label>Telefono1</label>
					<p-inputMask mask="+999 9999 9999" formControlName="telefono1"></p-inputMask>
					<br><br>
					<label>Telefono2</label>
					<p-inputMask mask="+999 9999 9999" formControlName="telefono2"></p-inputMask>
					<br><br>
					<label>
						Correo1
						<small class="text-red"><em *ngIf="(f['correo1'].errors?.email && f['correo1'].dirty) || (Vacio && f['correo1'].errors?.email)">Formato de Email inválido</em></small>
					</label>
					<input type="email" pInputText formControlName="correo1" email="true" />
					<br><br>
					<label>
						Correo2
						<small class="text-red"><em *ngIf="(f['correo2'].errors?.email && f['correo2'].dirty) || (Vacio && f['correo2'].errors?.email)">Formato de Email inválido</em></small>
					</label>
					<input type="email" pInputText formControlName="correo2" email="true" />
					<br><br>
					<label>Whatsapp</label>
					<p-inputMask mask="+999 9999 9999" formControlName="whatsapp"></p-inputMask>
					<br><br>
					<label>Skype</label>
					<input type="text" pInputText formControlName="skype"/>
				</div>
				
			</div>
		</div>

	</form>
	<p-footer>
		<button type="button" class="ui-button-primary"  (click)="guardar()" pButton icon="fa fa-save" label="Guardar"></button>
		<button type="button" class="ui-button-secondary"  (click)="MostrarForm=false; Vacio=false" pButton icon="fa fa-close" label="Cancelar"></button>
	</p-footer>
</p-dialog>