<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>

<!-- CONTENIDO PRINCIPAL -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Lista de Clientes</h3>
	</div>
	<div class="box-body">

		<p-table #dtUsuarios [columns]="Cols" [value]="Lista" [responsive]="true" [paginator]="true" [rows]="paginacionNum">
			<ng-template pTemplate="caption" class="left-text">

				<div style="text-align: left">
					<button class="btn btn-success btn-sm" (click)="nuevo()"><i class="fa fa-plus"></i> Agregar</button>&nbsp;
					<button class="btn btn-primary btn-sm" (click)="recargar()"><i class="fa fa-refresh"></i> Actualizar</button>&nbsp;
					<input pInputText type="text" size="50" placeholder="Búsqueda General" (input)="dtUsuarios.filterGlobal($event.target.value, 'contains')" style="width:auto;">&nbsp;
					<p-dropdown [options]="paginacionLista" [(ngModel)]="paginacionNum"></p-dropdown>
				</div>

				<div style="text-align: right">
				</div>
			</ng-template>

			<!-- HEADER COLUMNS SECTION -->
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of columns" [pSortableColumn]="col.field">
						{{col.header}}
						<p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
					</th>
					<th>Acciones</th>
				</tr>
			</ng-template>
			
			<!-- BODY PART -->
			<ng-template pTemplate="body" let-Lista let-columns="columns">
				<tr>
					<td *ngFor="let col of columns" class="_td">
					{{Lista[col.field]}}
					</td>
					<td class="_td" style="text-align: center;">
						<button class="btn btn-primary btn-xs" (click)="modificar(Lista)" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></button> 
						<button class="btn btn-danger btn-xs" (click)="eliminar(Lista)"><i class="fa fa-close" data-toggle="tooltip" title="Eliminar"></i></button>
					</td>
				</tr>
			</ng-template>
			
			<!-- COLUMNS TOTALS SECTION -->
			<!-- <ng-template pTemplate="footer" let-columns>
				<tr>
					<td *ngFor="let col of columns">
						{{col.header}}
					</td>
				</tr>
			</ng-template> -->

			<!-- SUMARY SECTION -->
			<!-- <ng-template pTemplate="summary">
				your summary template
			</ng-template> -->

		</p-table>
		
	</div>
	<!-- <div class="box-footer">
		The footer of the box
	</div> -->
</div>

<!-- FORMULARIO DE NUEVO USUARIO -->
<p-dialog header="{{DialogTitle}}" [contentStyle]="{padding: 20}" [(visible)]="MostrarForm" [style]="{'width': '70vw', 'max-width': '70vw'}" modal=true>
	<form [formGroup]="formGroup">
		<input type="hidden" formControlName="id">

		<div class="row">

			<div class="col-12 col-md-4 ui-fluid">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 ui-fluid">
							<label>Codigo:</label>
							<input type="text" pInputText formControlName="codigo">
						</div>
						<div class="col-12 ui-fluid">
							<label>Nombre Comercial:</label>
							<input type="text" pInputText formControlName="nombre">
						</div>
						<div class="col-12 ui-fluid">
							<label>Razon Social:</label>
							<input type="text" pInputText formControlName="razonsocial">
						</div>
						<div class="col-12 ui-fluid">
							<label>Vendedor Asignado:</label>
							<input type="text" pInputText formControlName="idVendedor">
						</div>
						<div class="col-12 ui-fluid">
							<label>Tipo de Cliente:</label>
							<p-dropdown [options]="listaTipos" formControlName="idTipo" placeholder="Seleccione Tipo" [showClear]="true" appendTo="body" [filter]="true"></p-dropdown>
						</div>
						<div class="col-12 ui-fluid">
							<label>Rubro:</label>
							<p-dropdown [options]="listaRubros" formControlName="idRubro" (onChange)="obtenerSubRubros($event.value)" placeholder="Seleccione Rubro" [showClear]="true" appendTo="body" [filter]="true"></p-dropdown>
						</div>
						<div class="col-12 ui-fluid">
							<label>Sub Rubro:</label>
							<p-dropdown [options]="listaSubRubros" [disabled]="true" formControlName="idSubrubro" placeholder="Seleccione SubRubro" [showClear]="true" appendTo="body" [filter]="true"></p-dropdown>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 ui-fluid">
				<div class="container-fluid" >
					<div class="row">
						<div class="col-12 ui-fluid">
							<label>Direción:</label>
							<input type="text" pInputText formControlName="direccion">
						</div>
						<div class="col-12 ui-fluid">
							<label>Departamento:</label>
							<p-dropdown [options]="listaDeptos" formControlName="idDepartamento" (onChange)="obtenerMunicipios($event.value)" placeholder="Seleccione Departamento" [showClear]="true" appendTo="body" [filter]="true"></p-dropdown>
						</div>
						<div class="col-12 ui-fluid">
							<label>Municipio:</label>
							<p-dropdown [options]="listaMunics" formControlName="idMunicipio" placeholder="Seleccione Municipio" [showClear]="true" appendTo="body" [filter]="true"></p-dropdown>
						</div>
						<div class="col-12 ui-fluid">
							<label>Contacto</label>
							<input type="text" pInputText formControlName="contacto">
						</div>
						<div class="col-12 ui-fluid">
							<label>Cargo:</label>
							<p-dropdown [options]="listaCargos" formControlName="idCargo" placeholder="Seleccione Cargo" [showClear]="true" appendTo="body" [filter]="true"></p-dropdown>
						</div>
						<div class="col-12 ui-fluid">
							<label>Telefono 1:</label>
							<input type="text" pInputText formControlName="telefono1">
						</div>
						<div class="col-12 ui-fluid">
							<label>Telefono 2:</label>
							<input type="text" pInputText formControlName="telefono2">
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-4 ui-fluid">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 ui-fluid">
							<label>Correo 1:</label>
							<input type="text" pInputText formControlName="correo1">
						</div>
						<div class="col-12 ui-fluid">
							<label>Correo 2:</label>
							<input type="text" pInputText formControlName="correo2">
						</div>
						<div class="col-12 ui-fluid">
							<label>Whatsapp:</label>
							<input type="text" pInputText formControlName="whatsapp">
						</div>
						<div class="col-12 ui-fluid">
							<label>Skype</label>
							<input type="text" pInputText formControlName="skype">
						</div>
						<div class="col-12 ui-fluid">
							<label>Activo?</label>
							<input type="text" pInputText formControlName="activo">
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<p-footer>
		<button type="button" class="ui-button-primary"  (click)="guardar()" pButton icon="fa fa-save" label="Guardar"></button>
		<button type="button" class="ui-button-secondary"  (click)="MostrarForm=false; Vacio=false" pButton icon="fa fa-close" label="Cancelar"></button>
	</p-footer>
</p-dialog>