<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
    <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>

<!-- CONTENIDO PRINCIPAL -->
<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Mantenimiento de Sub-Rubros</h3>
	</div>
	<div class="box-body">

		<p-table #dtUsuarios [columns]="Cols" [value]="Lista" [responsive]="true" [paginator]="true" [rows]="paginacionNum" dataKey="rubro">
			<ng-template pTemplate="caption" class="left-text">

				<div style="text-align: left">
					<button class="btn btn-success btn-sm" (click)="nuevo()"><i class="fa fa-plus"></i> Agregar</button>&nbsp;
					<button class="btn btn-primary btn-sm" (click)="recargar()"><i class="fa fa-refresh"></i> Actualizar</button>&nbsp;
					<input pInputText type="text" size="50" placeholder="Búsqueda General" (input)="dtUsuarios.filterGlobal($event.target.value, 'contains')" style="width:auto;">&nbsp;
					<p-dropdown [options]="paginacionLista" [(ngModel)]="paginacionNum"></p-dropdown>
				</div>

				<div style="text-align: right">
				</div>
			</ng-template>

			<!-- HEADER COLUMNS SECTION -->
			<ng-template pTemplate="header" let-columns>
				<tr>
					<th *ngFor="let col of columns" [pSortableColumn]="col.field">
						{{col.header}}
						<p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
					</th>
					<th>Acciones</th>
				</tr>
			</ng-template>
			
			<!-- BODY PART -->

			<ng-template pTemplate="body" let-Lista let-rowIndex="rowIndex" let-expanded="true" let-columns="columns">
				<tr class="ui-widget-header" *ngIf="rowGroupMetadata[Lista.rubro].index === rowIndex">
					<td colspan="4">
						<a [pRowToggler]="Lista" style="cursor:pointer;">
							<i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
							<span>{{Lista.rubro + ' - ' + rowGroupMetadata[Lista.rubro].size}}</span>
						</a>
					</td>
				</tr>
			</ng-template>
			<ng-template pTemplate="rowexpansion" let-Lista let-rowIndex="rowIndex">
				<tr>
					<td>{{Lista.id}}</td>
					<td>{{Lista.codigo}}</td>
					<td>{{Lista.nombre}}</td>
					<td class="_td" style="text-align: center;">
						<button class="btn btn-primary btn-xs" (click)="modificar(Lista)" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></button> 
						<button class="btn btn-danger btn-xs" (click)="eliminar(Lista)"><i class="fa fa-close" data-toggle="tooltip" title="Eliminar"></i></button>
					</td>
				</tr>
			</ng-template>
			
			<!-- COLUMNS TOTALS SECTION -->
			<!-- <ng-template pTemplate="footer" let-columns>
				<tr>
					<td *ngFor="let col of columns">
						{{col.header}}
					</td>
				</tr>
			</ng-template> -->

			<!-- SUMARY SECTION -->
			<!-- <ng-template pTemplate="summary">
				your summary template
			</ng-template> -->

		</p-table>
		
	</div>
	<!-- <div class="box-footer">
		The footer of the box
	</div> -->
</div>

<!-- FORMULARIO DE NUEVO USUARIO -->
<p-dialog header="{{DialogTitle}}" [contentStyle]="{padding: 20}" [(visible)]="MostrarForm" [style]="{'width': '23vw', 'max-width': '23vw'}" modal=true>
	<form [formGroup]="formGroup">
		<div class="p-grid">
			<div class="p-col-12 ui-fluid">
				<input type="hidden" pInputText formControlName="id"/>
				<label>
					Codigo
					<small class="text-red">* <em *ngIf="(f['codigo'].errors?.required && f['codigo'].dirty) || (Vacio && f['codigo'].errors?.required)"> Requerido</em></small>
				</label>
				<input type="text" pInputText formControlName="codigo">
				<br><br>
				<label>
					Nombre
					<small class="text-red">* <em *ngIf="(f['nombre'].errors?.required && f['nombre'].dirty) || (Vacio && f['nombre'].errors?.required)"> Requerido</em></small>
				</label>
                <input type="text" pInputText formControlName="nombre">
                <br><br>
				<label>
					Rubro
					<small class="text-red">* <em *ngIf="(f['idRubro'].errors?.required && f['idRubro'].dirty) || (Vacio && f['idRubro'].errors?.required)"> Requerido</em></small>
				</label>
                <p-dropdown [options]="ListaRubros" appendTo="body" placeholder="Seleccione Rubro" filter="true" formControlName="idRubro" [showClear]="true"></p-dropdown>
			</div>
		</div>
	</form>
	<p-footer>
		<button type="button" class="ui-button-primary"  (click)="guardar()" pButton icon="fa fa-save" label="Guardar"></button>
		<button type="button" class="ui-button-secondary"  (click)="MostrarForm=false; Vacio=false" pButton icon="fa fa-close" label="Cancelar"></button>
	</p-footer>
</p-dialog>