﻿<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-multiple">
    <!-- ball-scale-multiple -->
    <p style="font-size: 20px; color: white">{{spinnerText}}</p>
</ngx-spinner>

<div class="login-box">
	<div class="login-logo" style="background-color: #2494F2; ">
		<img src="assets/images/logo-qcc.png" style="width: 100px;" alt="">
	</div>
	<!-- /.login-logo -->
	<div class="login-box-body">
		<p class="login-box-msg">Digite sus credenciales para iniciar su sesión</p>

		<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
			<div class="form-group has-feedback">
				<label>Usuario</label>
				<input type="text" class="form-control" placeholder="Digite su Usuario" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
				<div *ngIf="submitted && f.username.errors" class="invalid-feedback">
					<div *ngIf="f.username.errors.required">Usuario requerido</div>
				</div>
				<!-- <span class="fa fa-envelope form-control-feedback"></span> -->
			</div>
			<div class="form-group has-feedback">
				<label>Contraseña</label>
				<input type="password" class="form-control" placeholder="Digite su Contraseña" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
				<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
					<div *ngIf="f.password.errors.required">Contraseña requerida Requerido</div>
				</div>
				<!-- <span class="fa fa-lock form-control-feedback"></span> -->
			</div>
			<div class="row">
				<div class="col-8">
					
				</div>
				<!-- /.col -->
				<div class="col-4">
					<button type="submit" [disabled]="loading" style="margin-top: 15px;" class="btn btn-primary btn-block btn-flat">
						<span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
						Iniciar Sesión
					</button>
				</div>
				<!-- /.col -->
			</div>
		</form>
		<div class="h4"></div>
		<div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>

	</div>
	<!-- /.login-box-body -->
</div>
