﻿<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
	<div class="navbar-nav">
		<a class="nav-item nav-link" routerLink="/">Home</a>
		<a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
		<a class="nav-item nav-link" (click)="logout()">Logout</a>
	</div>
</nav> -->

<!-- main app container -->
<!-- <div class="container">
	<router-outlet></router-outlet>
</div> -->

<div [ngClass]="{'wrapper': currentUser}">
	<header class="main-header" [hidden]="!currentUser">
		<!-- Logo -->
		<a href="/" class="logo">
			<!-- mini logo for sidebar mini 50x50 pixels -->
			<span class="logo-mini"><b>Q</b>CC</span>
			<!-- logo for regular state and mobile devices -->
			<span class="logo-lg"><b>QCC</b></span>
		</a>
		<!-- Header Navbar: style can be found in header.less -->
		<nav class="navbar navbar-static-top">
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<span class="sr-only">Toggle navigation</span>
			</a>
	
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- Messages: style can be found in dropdown.less-->
					<li class="dropdown messages-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-envelope-o"></i>
							<span class="label label-success">4</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 4 messages</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- start message -->
										<a href="#">
											<div class="pull-left">
												<img src="../../../assets/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Support Team
												<small><i class="fa fa-clock-o"></i> 5 mins</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<!-- end message -->
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../../../assets/AdminLTE/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												AdminLTE Design Team
												<small><i class="fa fa-clock-o"></i> 2 hours</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../../../assets/AdminLTE/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Developers
												<small><i class="fa fa-clock-o"></i> Today</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../../../assets/AdminLTE/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Sales Department
												<small><i class="fa fa-clock-o"></i> Yesterday</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
									<li>
										<a href="#">
											<div class="pull-left">
												<img src="../../../assets/AdminLTE/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
											</div>
											<h4>
												Reviewers
												<small><i class="fa fa-clock-o"></i> 2 days</small>
											</h4>
											<p>Why not buy a new awesome theme?</p>
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">See All Messages</a></li>
						</ul>
					</li>
					<!-- Notifications: style can be found in dropdown.less -->
					<li class="dropdown notifications-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bell-o"></i>
							<span class="label label-warning">10</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 10 notifications</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li>
										<a href="#">
											<i class="fa fa-users text-aqua"></i> 5 new members joined today
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
											page and may cause design problems
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-users text-red"></i> 5 new members joined
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-shopping-cart text-green"></i> 25 sales made
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-user text-red"></i> You changed your username
										</a>
									</li>
								</ul>
							</li>
							<li class="footer"><a href="#">View all</a></li>
						</ul>
					</li>
					<!-- Tasks: style can be found in dropdown.less -->
					<li class="dropdown tasks-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-flag-o"></i>
							<span class="label label-danger">9</span>
						</a>
						<ul class="dropdown-menu">
							<li class="header">You have 9 tasks</li>
							<li>
								<!-- inner menu: contains the actual data -->
								<ul class="menu">
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Design some buttons
												<small class="pull-right">20%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar"
														 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">20% Complete</span>
												</div>
											</div>
										</a>
									</li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Create a nice theme
												<small class="pull-right">40%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar"
														 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">40% Complete</span>
												</div>
											</div>
										</a>
									</li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Some task I need to do
												<small class="pull-right">60%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar"
														 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">60% Complete</span>
												</div>
											</div>
										</a>
									</li>
									<!-- end task item -->
									<li><!-- Task item -->
										<a href="#">
											<h3>
												Make beautiful transitions
												<small class="pull-right">80%</small>
											</h3>
											<div class="progress xs">
												<div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar"
														 aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
													<span class="sr-only">80% Complete</span>
												</div>
											</div>
										</a>
									</li>
									<!-- end task item -->
								</ul>
							</li>
							<li class="footer">
								<a href="#">View all tasks</a>
							</li>
						</ul>
					</li>
					<!-- User Account: style can be found in dropdown.less -->
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="assets/images/icons/user_icon.png" class="user-image" alt="User Image">
							<span class="hidden-xs">{{nombreApellido}}</span>
						</a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header">
								<img src="assets/images/icons/user_icon.png" class="img-circle" alt="User Image">
	
								<p>
									{{nombreApellido}}
									<small>Member since Nov. 2012</small>
								</p>
							</li>
							<!-- Menu Body -->
							<!-- <li class="user-body">
								<div class="row">
									<div class="col-xs-4 text-center">
										<a href="#">Followers</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">Sales</a>
									</div>
									<div class="col-xs-4 text-center">
										<a href="#">Friends</a>
									</div>
								</div>
							</li> -->
							<!-- Menu Footer-->
							<li class="user-footer">
								<div class="pull-left">
									<a href="#" class="btn btn-default btn-flat">Profile</a>
								</div>
								<div class="pull-right">
									<a (click)="logout()" class="btn btn-default btn-flat">Sign out</a>
								</div>
							</li>
						</ul>
					</li>
					<!-- Control Sidebar Toggle Button -->
					<!-- <li>
						<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
					</li> -->
				</ul>
			</div>
		</nav>
	</header>
	<!-- <app-appmenu [hidden]="currentUser"></app-appmenu> -->
	<aside class="main-sidebar" [hidden]="!currentUser">
		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">
			<!-- Sidebar user panel -->
			<!-- <div class="user-panel">
				<div class="pull-left">
					<img src="../../../assets/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
					<i class="fa fa-user-circle" style="font-size: 64px; color: #FFFFFF"></i>
				</div>
				<div class="pull-left info">
					<p>Alexander Pierce</p>
					<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
				</div>
			</div> -->
			<!-- search form -->
			<!-- <form action="#" method="get" class="sidebar-form">
				<div class="input-group">
					<input type="text" name="q" class="form-control" placeholder="Search...">
					<span class="input-group-btn">
								<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
								</button>
							</span>
				</div>
			</form> -->
			<!-- /.search form -->
			<!-- sidebar menu: : style can be found in sidebar.less -->
	
			<ul class="sidebar-menu" data-widget="tree">
				
				<li class="header">MENU PRINCIPAL</li>
	
				<li class="treeview">
					<a href="#">
						<i class="fa fa-cart-arrow-down"></i> <span>SOCIOS DE NEGOCIO</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a style="cursor: pointer;" (click)="goTo('ListaProveedores')"><i class="fa fa-arrow-right"></i>Lista de Proveedores</a></li>
						<li><a style="cursor: pointer;" (click)="goTo('ListaClientes')"><i class="fa fa-arrow-right"></i>Lista de Clientes</a></li>
						<li class="treeview">
							<a href="#">
								<i class="fa fa-cogs"></i> <span>MANTENIMIENTOS</span>
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu">
								<li><a style="cursor: pointer;" (click)="goTo('Tipos')"><i class="fa fa-arrow-right"></i> Tipos</a></li>
								<li><a style="cursor: pointer;" (click)="goTo('Cargos')"><i class="fa fa-arrow-right"></i> Cargos</a></li>
								<li><a style="cursor: pointer;" (click)="goTo('Rubros')"><i class="fa fa-arrow-right"></i> Rubros</a></li>
								<li><a style="cursor: pointer;" (click)="goTo('SubRubros')"><i class="fa fa-arrow-right"></i> Sub-Rubros</a></li>
							</ul>
						</li>
					</ul>
				</li>
	
				<li class="treeview">
					<a href="#">
						<i class="fa fa-dollar"></i> <span>COTIZACIONES</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a style="cursor: pointer;" (click)="goTo('')"><i class="fa fa-arrow-right"></i>Lista de Cotizaciones</a></li>
						<li><a style="cursor: pointer;" (click)="goTo('')"><i class="fa fa-arrow-right"></i>Lista de Facturas</a></li>
					</ul>
				</li>
	
				<li class="treeview">
					<a href="#">
						<i class="fa fa-users"></i> <span>USUARIOS</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a style="cursor: pointer;" (click)="goTo('ListaUsuarios')"><i class="fa fa-arrow-right"></i>Lista de Usuarios</a></li>
						<li><a style="cursor: pointer;" (click)="goTo('Perfiles')"><i class="fa fa-arrow-right"></i>Perfiles</a></li>
					</ul>
				</li>
	
				<li class="treeview">
					<a href="#">
						<i class="fa fa-book"></i> <span>REPORTES</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a style="cursor: pointer;" (click)="goTo('proveedores')"><i class="fa fa-arrow-right"></i>Reporte1</a></li>
						<li><a style="cursor: pointer;" (click)="goTo('proveedores')"><i class="fa fa-arrow-right"></i>Reporte2</a></li>
					</ul>
				</li>
				
				
			</ul>
	
			<!-- <ul class="sidebar-menu" data-widget="tree">
				<li class="header">MAIN NAVIGATION</li>
				<li class="active treeview">
					<a href="#">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
						<li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-files-o"></i>
						<span>Layout Options</span>
						<span class="pull-right-container">
							<span class="label label-primary pull-right">4</span>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
						<li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
						<li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
						<li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
					</ul>
				</li>
				<li>
					<a href="pages/widgets.html">
						<i class="fa fa-th"></i> <span>Widgets</span>
						<span class="pull-right-container">
							<small class="label pull-right bg-green">new</small>
						</span>
					</a>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-pie-chart"></i>
						<span>Charts</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
						<li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
						<li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
						<li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-laptop"></i>
						<span>UI Elements</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
						<li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
						<li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
						<li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
						<li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
						<li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-edit"></i> <span>Forms</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
						<li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
						<li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-table"></i> <span>Tables</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
						<li><a href="pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
					</ul>
				</li>
				<li>
					<a href="pages/calendar.html">
						<i class="fa fa-calendar"></i> <span>Calendar</span>
						<span class="pull-right-container">
							<small class="label pull-right bg-red">3</small>
							<small class="label pull-right bg-blue">17</small>
						</span>
					</a>
				</li>
				<li>
					<a href="pages/mailbox/mailbox.html">
						<i class="fa fa-envelope"></i> <span>Mailbox</span>
						<span class="pull-right-container">
							<small class="label pull-right bg-yellow">12</small>
							<small class="label pull-right bg-green">16</small>
							<small class="label pull-right bg-red">5</small>
						</span>
					</a>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-folder"></i> <span>Examples</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
						<li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
						<li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
						<li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
						<li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
						<li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
						<li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
						<li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
						<li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
					</ul>
				</li>
				<li class="treeview">
					<a href="#">
						<i class="fa fa-share"></i> <span>Multilevel</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					<ul class="treeview-menu">
						<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
						<li class="treeview">
							<a href="#"><i class="fa fa-circle-o"></i> Level One
								<span class="pull-right-container">
									<i class="fa fa-angle-left pull-right"></i>
								</span>
							</a>
							<ul class="treeview-menu">
								<li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
								<li class="treeview">
									<a href="#"><i class="fa fa-circle-o"></i> Level Two
										<span class="pull-right-container">
											<i class="fa fa-angle-left pull-right"></i>
										</span>
									</a>
									<ul class="treeview-menu">
										<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
										<li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
					</ul>
				</li>
				<li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
				<li class="header">LABELS</li>
				<li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
				<li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
				<li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
			</ul> -->
		</section>
		<!-- /.sidebar -->
	</aside>
	<div [ngClass]="{'content-wrapper': currentUser}">
		<section class="content-header">
		</section>
		<section class="content">
			<router-outlet></router-outlet>
		</section>
	</div>
	<footer class="main-footer" [hidden]="!currentUser">
		<div class="pull-right hidden-xs">
			<b>Version</b> 2.4.13
		</div>
		<strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights reserved.
	</footer>
	<!-- <app-appsetting></app-appsetting> -->
</div>
